<!-- courses.component.html -->
<section id="courses" class="courses-section">
    <h2>Career-Oriented IT Programs</h2>
    
    <div class="course-cards">

      <a class="navlink" routerLink="webdesigning">
        <div class="course-card">
          <img src="assets/images/web-des.png" alt="Web designing" />
          <h3>Web Designing</h3>
          <p>Master the basics and advanced concepts of Data Science.</p>
        </div>
      </a>
      <a class="navlink" routerLink="fullstack">
      <div class="course-card">
        <img src="assets/images/web-dev.png" alt="Web Development" />
        <h3>Full Stack Web Development</h3>
        <p>Learn HTML, CSS, JavaScript, and Angular.</p>
      </div>
    </a>
      <a class="navlink" routerLink="datascience">
      <div class="course-card">
        <img src="assets/images/datas.png" alt="Data Analytics" />
        <h3>Data Analytics</h3>
        <p>Master the basics and advanced concepts of Data Science.</p>
      </div>
    </a>
    </div>
  </section>

  <section id="courses" class="courses-section">
    <h2>Certificate Courses</h2>
    <div class="course-cards">
      <a class="navlink" routerLink="python">
      <div class="course-card">
        <img src="assets/images/python.png" alt="Python Data Science" />
        <h3>Python Data Science</h3>
        <p>Analyze data and build ML models with Python.</p>
      </div>
      </a>
      <a class="navlink" routerLink="java">
      <div class="course-card">
        <img src="assets/images/java.png" alt="java dsa" />
        <h3>JAVA DSA</h3>
        <p>Master DSA Concepts with Industry-Level Java Training</p>
      </div>
    </a>

    <a id="navlink" routerLink="cprogram">
      <div class="course-card">
        <img src="assets/images/cprog.png" alt="Data Science" />
        <h3>C programming</h3>
        <p>Master Core Programming with the Language That Started It All</p>
      </div>
    </a>

    <a class="navlink" routerLink="angular">
      <div class="course-card">
        <img src="assets/images/angular.png" alt="Angular" />
        <h3>Angular</h3>
        <p>Build Powerful Web Apps with Google’s Framework</p>
      </div>
    </a>

    <a class="navlink" routerLink="react">
      <div class="course-card">
        <img src="assets/images/react.png" alt="React" />
        <h3>React</h3>
        <p>Build Fast, Scalable Web Apps with React JS</p>
      </div>
    </a>

    <a class="navlink" routerLink="node">
      <div class="course-card">
        <img src="assets/images/node.png" alt="Node" />
        <h3>Node JS</h3>
        <p>Master Backend Development with Node.js & Express</p>
      </div>
    </a>

    <a class="navlink" routerLink="mssql">
      <div class="course-card">
        <img src="assets/images/mssql.png" alt="MSSQL" />
        <h3>MSSQL</h3>
        <p>Master Database Management with Microsoft SQL Server</p>
      </div>
    </a>

    <a class="navlink" routerLink="mongo">
      <div class="course-card">
        <img src="assets/images/mongo.png" alt="MSSQL" />
        <h3>MongoDB</h3>
        <p>Master NoSQL with MongoDB for Scalable Applications</p>
      </div>
    </a>

    <a class="navlink" routerLink="basics">
      <div class="course-card">
        <img src="assets/images/basics.png" alt="MSSQL" />
        <h3>Computer basics</h3>
        <p>Start Your Digital Journey — Learn Computer Basics</p>
      </div>
    </a>

    <a class="navlink" routerLink="tally">
      <div class="course-card">
        <img src="assets/images/tally.png" alt="MSSQL" />
        <h3>TALLY</h3>
        <p>Learn to Manage Finances with the Industry's Most Trusted Tool</p>
      </div>
    </a>

    <a class="navlink" routerLink="hardware">
      <div class="course-card">
        <img src="assets/images/hardware.png" alt="MSSQL" />
        <h3>Computer Hardware</h3>
        <p>Master Computer Hardware & Build Your Tech Career</p>
      </div>
    </a>

    <a class="navlink" routerLink="mcsa">
      <div class="course-card">
        <img src="assets/images/mcsa.png" alt="MSSQL" />
        <h3>MCSA</h3>
        <p>Become a Certified Microsoft Solutions Associate with MCSA</p>
      </div>
    </a>

    <a class="navlink" routerLink="ccna">
      <div class="course-card">
        <img src="assets/images/ccna.png" alt="MSSQL" />
        <h3>CCNA</h3>
        <p>Master Networking with CCNA Certification — From Basics to Advanced</p>
      </div>
    </a>

    <a class="navlink" routerLink="redhat">
      <div class="course-card">
        <img src="assets/images/redhat.png" alt="MSSQL" />
        <h3>RedHat</h3>
        <p>Master Linux Administration with Red Hat RHCSA & RHCE Certification</p>
      </div>
    </a>

    <a class="navlink" routerLink="ceh">
      <div class="course-card">
        <img src="assets/images/ceh.png" alt="MSSQL" />
        <h3>CEH</h3>
        <p>Become a Certified Ethical Hacker (CEH) & Boost Your Cybersecurity Career</p>
      </div>
    </a>
    </div>
    </section>
  